html{
  overflow-x: hidden;
}

.dark input,
.dark textarea,
.dark select {
  background-color: #1f2937; /* Tailwind gray-800 */
  color: #f3f4f6; /* Tailwind gray-100 */
  border-color: #4b5563; /* Tailwind gray-600 */
}

.dark input::placeholder,
.dark textarea::placeholder {
  color: #6b7280; /* Tailwind gray-500 */
}

/* testimonial submit form */
input[type="text"],
input[type="email"],
textarea {
  @apply mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white;
}